@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bakbak+One&family=Bebas+Neue&family=Fredoka+One&family=Lato:ital,wght@1,300&family=League+Gothic&family=Libre+Baskerville&family=Mochiy+Pop+P+One&family=Oswald:wght@200&family=Patrick+Hand&family=Rajdhani&family=Rowdies:wght@300&family=Saira+Condensed:wght@200&family=Secular+One&family=Staatliches&display=swap');

body{

    background-color: #294666;
    
}

.top-content h1{

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    color: white;
    padding: 1em 0;
    

}

.top-content p{

    text-align: center;
    margin: 0;
    margin-top: -30px;
    color: rgb(177, 125, 125);
}

.brain{

    margin-top: -50px;
    
    
}

.brain:hover{

    transition: all ease-in .5s;
    transform: rotate(360deg);
}

.top-content{

    background-color: rgb(4, 26, 44);
    font-family: 'bebas neue';
    text-align: center;
}

.top-nav ul{

    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .1em 0;

}

.top-nav li{

    list-style: none;
    text-align: center;
    margin: .4em 0;
    font-size: 1.2em;
    
}

.top-nav a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 1.3em 0;
}

.top-nav a:hover{

    transition: all ease-out .4s;
    background-color: #294666;

}

h1, h2, h3{

    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}





.dinheiroeliberdade{

    background: #f1ecec;
    border-radius: 5px;
    padding: 1em;
    width: 74%;
    margin: auto;
}

.dinheiroeliberdade:hover{

    transition: all ease-in .3s;
    box-shadow: #141E30 5px 5px 0px;
}

.dinheiroeliberdade a{

    text-decoration: none;
    color: black;
    text-align: center;
}

.dinheiroeliberdade img{

    display: block;
    margin: auto;
    
}

.dinheiroeliberdade p{

    font-family: 'Secular One', sans-serif;;
    line-height: 1.8em;
    font-weight: normal;
}

.dinheiroeliberdade h3{

    color: #85bb65;
}


.Importancia_Dos_Corpos{

    background: #f1ecec;
    border-radius: 5px;
    padding: 1em;
    width: 74%;
    margin: auto;
    margin-top: 3%;

}

.Importancia_Dos_Corpos:hover{
    transition: all ease-in .3s;
    box-shadow: #141E30 5px 5px 0px;

}


.Importancia_Dos_Corpos a{

    text-decoration: none;
    text-align: center;
    
}

.Importancia_Dos_Corpos h3{

    color: #76c1df;
}

.Importancia_Dos_Corpos p{

    font-family: 'Secular One', sans-serif;;
    line-height: 1.8em;
    font-weight: normal;
    color: black;

}

.Importancia_Dos_Corpos img{

    display: block;
    margin: auto;
}

.A_Escuridao_Do_Luto{
    background: #f1ecec;
    border-radius: 5px;
    padding: 1em;
    width: 74%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5px;
    


}

.A_Escuridao_Do_Luto:hover{

    transition: all ease-in .3s;
    box-shadow: #141E30 5px 5px 0px;

}

.A_Escuridao_Do_Luto a{


    text-decoration: none;
    text-align: center;
    

}

.A_Escuridao_Do_Luto h3{

    color: rgba(0, 0, 0, 0.76);

}

.A_Escuridao_Do_Luto p{

    font-family: 'Secular One', sans-serif;;
    line-height: 1.8em;
    font-weight: normal;
    color: black;

}

.A_Escuridao_Do_Luto img{

    display: block;
    margin: auto;
}




.button{

    padding: 1em;
    background: #85bb65;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    
    
}




.button:hover{

    background: #aedf91;

}

.luto{

    background: rgba(0, 0, 0, 0.76);
    color: white;
}

.luto:hover{

    background-color:rgba(31, 30, 30, 0.76) ;
}
.corpos{

    background: #76c1df;
    color: white;
}

.corpos:hover{


    background: #7eb5ca;
}

.vermais{

    text-align: center;

   
}

.vermais a{
    
    box-shadow: #141E30 5px 5px 0px;
    width: 45%;
    display: block;
    padding: 1em;
    margin: auto;
    background: #f1ecec;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: black;
}



.Footer{

    text-align: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    
}

.Footer p{

    color: white;
    font-family: 'Secular One', sans-serif;;
}

@media screen and (min-width: 900px){
    

    .top-nav{

        
        background: transparent;
    }

    .top-nav li{

        display: inline-block;
        
        
    }

    .sobre{

        margin: 0 40px 0;
    }

    .top-nav ul{

        text-align: center;
        margin: auto;
        position: relative;
        
    }

    .top-nav a:hover{

        background: transparent;
        text-shadow: black 2px 2px 0px;
    }



    .dinheiroeliberdade, .A_Escuridao_Do_Luto, .Importancia_Dos_Corpos{

        width: 23%;
        float: left;
        margin-top: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        display: block;
        
        
        
        
    }

    .A_Escuridao_Do_Luto{

        margin-left: 3%;
        

    }

    .dinheiroeliberdade{

        margin-left: 10%;
    }

    .Importancia_Dos_Corpos{

        margin-left: 3%;
    }

    .main-content{

        display: block;
        margin: auto;
        
    }

    .vermais{

        clear: both;
        display: block;
        margin: auto;
        
        
    }

    .Footer{

        clear: both;
        
    }

    .audio{


        width: fit-content;
        height: fit-content;
        border-radius: 20px;
        box-shadow: 5px 5px 0px #f1ecec;
        background-color: rgba(102, 48, 48, 0.747);
        margin: auto;
    }
}

